<section class="home">
    <h1>Here is your Wallet</h1>
    <div class="home_content">
        <p>Your wallet will helps you get good management of your money more effectively through easy recording of your income and expenses.</p>
        <%= link_to "Getting started", categories_path %>
    </div>
</section>
